<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="Home">
      <img src="freshcart-logo.svg" alt="freshcart">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="Products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="Cart">
            <i class="bi bi-cart4 font-large"></i>
            Cart</a>
        </li>
      </ul>




      <ul class="navbar-nav ms-auto">



<div class="align-items-cente d-nf " >
  <li class="nav-item">
  <a class="nav-link bi bi-instagram bang " href="#"></a>
</li>
<li class="nav-item">
  <a class="nav-link bi bi-facebook bang " href="#"></a>
</li>
<li class="nav-item">
  <a class="nav-link bi bi-tiktok bang " href="#"></a>
</li>
<li class="nav-item">
  <a class="nav-link bi bi-twitter bang " href="#"></a>
</li>
<li class="nav-item">
  <a class="nav-link bi bi-linkedin bang" href="#"></a>
</li>
<li class="nav-item">
  <a class="nav-link bang bi bi-youtube" href="#"></a>
</li>


</div>


        @if (!LoggedUser) {
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="SignIn">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="SignUp">Sign Up</a>
          </li>
        } @else if (LoggedUser) {
          <li class="nav-item">
            <a class="nav-link text-danger cursor-pointer" (click)="Signout()">Sign Out</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

