

<div class="mx-auto my-5 w-50">

<form class="" [formGroup]="Sign_In" (ngSubmit)="Signin(Sign_In)" >
    <h2 class="text-main my-3">SignIn Now :</h2>
    @if(MassegError){
      <p class="alert alert-danger">{{MassegError}}</p>
    }


    <label class=" form-label">email</label>
    <input class=" form-control" formControlName="email" placeholder="@example.com" type="email">
@if (Sign_In.get("email")?.invalid && Sign_In.get("email")?.touched) {
  <div>
    @if (Sign_In.get("email")?.getError("required")) {
      <p class="text-danger ms-3">The Email Is Required </p>
    }
    @if (Sign_In.get("email")?.getError("email")) {
      <p class="text-danger ms-3">Please enter a valid email (must include @) </p>
    }
  </div>
}



    <label class="form-label">password</label>
    <input class="form-control" formControlName="password" placeholder="********" type="password">

    @if (Sign_In.get("password")?.invalid && Sign_In.get("password")?.touched) {
  <div>
    @if (Sign_In.get("password")?.getError("required")) {
      <p class="text-danger ms-3">The Email Is Required </p>
    }
    @if (Sign_In.get("password")?.getError("minlength")) {
      <p class="text-danger ms-3">Min Length Is 8 Caracters </p>
    }
    @if (Sign_In.get("password")?.getError("maxlength")) {
      <p class="text-danger ms-3">Max Length Is 12 Caracters </p>
    }
  </div>
}

<div class=" media ">
  <button class="btn bg-main text-white media_1 w-100  my-3">


@if (isloding) {
  <span class="spinner-border"></span>
}@else {
  <span>Submit</span>
}


  </button>
  <a routerLink="/Forgetpassword" class=" media_2 ms-4 pb-2 text-decoration-none  text-dark">ForgetPassword</a>
</div>

</form>
</div>


<router-outlet></router-outlet>
